{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head %}
<title>Home I-Frame</title>
<style media="screen">
   html,
   body {
   height: 100%
   }
</style>
{% endblock head %}
{% block body %}
<div class="container-fluid h-100">
   <div class="row h-100">
      <div class="col-2 h-100 border rounded">
         <div class="list-group mt-2">
            <a href="/pages/office" target="content" class="list-group-item">Office</a>
            <a href="/pages/employee" target="content" class="list-group-item">Employee</a>
         </div>
      </div>
      <div class="col-10 h-100">
         <iframe name="content" frameborder="" width="100%" height="100%" class="h-100" src="/pages/office"></iframe>
      </div>
   </div>
</div>
{% endblock body %}
